[user]
	email = s.tonev@beluga.software
	name = Stiliyan Tonev
[file]
	mode = false
[core]
	Mode = false
	fileMode = false
	autocrlf = true
	editor = vim
	ignoreCase = true
	checkStat = "minimal"
[pull]
	rebase = false
